<!DOCTYPE html>
<html>
<head>
<!-- views/profile.ejs -->
<title>WebFileBrowser</title>

<!-- ################ TEMPLATE ############ -->
    <script id="template" type="text/x-dot-template"></script>
</head>
<body>

<!-- ################ BODY ELEMENT ############ -->
<div id="upLoadLayer">
	<form  action="/upload" class="dropzone" id="myDropzone"></form>
</div>
<div id="mainLayer" class="mainLayer">
	<div id="showDirectory" class="imageButton showDirectory js-click_showDirectory"></div>
</div>
<div id="directoryLayer" class="directoryLayer">
	<div id="iconLayer" class="iconLayer"> 
		<div id="btgoHome" class="imageButton btgoHome  js-click_btgoHome"></div>
		<div id="btchgStyle" class="imageButton btchgStyle js-click_btchgStyle"></div>
		<div id="btshowUpLoad" class="imageButton btshowUpLoad js-click_btshowUpLoad"></div>
		
		<div id="btaddFolder" class="imageButton btaddFolder js-click_btaddFolder"></div>			
		<div id="btaddFile" class="imageButton btaddFile js-click_btaddFile"></div>	
	</div>
	<div id="pathLayer"  class="pathLayer">racine</div>
	<div id="listFileLayer" class="listFileLayer context-menu-mainFolder"></div>
</div>

<!-- ################ JAVASCRIPT CODE ############ -->
<!--  
 <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>
<script type="text/javascript" src="/js/headListCDN.js"></script>  
-->
<script type="text/javascript" src="/lib/head.min.js"></script>
<script type="text/javascript" src="/js/headList.js"></script>

<script language="javascript">
head.js(cssList);			
head.js(jsList);
head.ready(function() {
	$(function(){
		//$(document).ready(function(){
		// hide layer at start time
			$("#upLoadLayer").hide();
			$("#directoryLayer").hide();
		// create repository if needed
			con_createRepository();
			con_flushTrash();
		
		$(".iconstyle").draggable({stop: dragstop});
		$('.iconDirectory').droppable({drop: dropElement});//end droppable
		
		Dropzone.options.myDropzone = {
			url: '/upload',			//url de l'action
			maxFilesize: 10, 		// taille maximum des fichiers en MB
			headers: { mid: "header value" } ,	//additionnal information
			paramName: "file",
			acceptedFiles: 'image/*,application/zip,.js'//liste des extensions acceptés
		};
	
	}); //end document ready jquery
}); //end header ready

  </script>
  
</body>
</html>