<!DOCTYPE html>
<html><head><!-- views/profile.ejs --><title>Node Authentication</title><!--
 <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>
<script type="text/javascript" src="/js/headListCDN.js"></script>  
   -->
  <!-- default template -->
  <script id="default_readDirectory" type="text/x-dot-template">
	{{~ it.farray :k}}
	<div class='imageButton iconstyle js-click_{{=k.type}} icon{{=k.extension}}' id='{{=k.filename}}'>
		<div class='icontext'>{{=k.basename}}</div>
	</div>
	{{~}}
  </script>
  
  
  <script type="text/javascript" src="/lib/head.min.js"></script>
  <script type="text/javascript" src="/js/headList.js"></script>
  <style></style>
  
  <script language="javascript">
head.js(cssList);			
head.js(jsList);
head.ready(function() {
	$(document).ready(function(){
		var ID='<%= user._id %>';
		createRepository(ID);
		$("#upLoadLayer").hide();
		$("#DirectoryLayer").hide();
			
	}); //end document ready jquery
}); //end header ready

  </script></head><body>
<div class="mainLayer">
	<div class="imageButton showDirectory js-click_ShowDirectory"></div>
</div>
<div id="DirectoryLayer">
	<div id="iconLayer"> 
		<div class="imageButton btgoHome  js-click_btgoHome"></div>
		<div class="imageButton btchgStyle js-click_btchgStyle"></div>
	</div>
	<div id="pathLayer">racine</div>
	<div id="listFileLayer" class="listFileLayer"></div>
	
</div>

</body></html>