	{{~ it.farray :k}}
	<div class='imageButton iconstyle js-click_{{=k.type}} context-menu-one box menu-1 icon{{=k.extension}}' id='{{=k.filename}}'>
		<div class='icontext'>{{=k.basename}}</div>
	</div>
	{{~}}
